.top-gradient-show {
  height: 100%;
  width: 100%;
  display: none;
  background-image: linear-gradient(black 2%, transparent 33%);
  position: absolute;
  z-index: 2;
}

.bottom-gradient-show {
	height: 100%;
  width: 100%;
  display: none;
	background-image: linear-gradient(transparent 66%, black);
  position: absolute;
  z-index: 1;
}


.relative-box {
position: relative;
background: transparent;
height: 200px;
z-index: -1;
}