.photos-index-container {
  width: 95%;
  position: relative;
  margin: 0 auto;
  
}

.index-top-div {
  height: 60px;
}
.flex-photos-index {
  display: flex;
  position: absolute;
  z-index: -2;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  flex-basis: 100%;
}

.photo-index-item-box {
  height: 300px;
  top: 20px;
  position: relative;
  margin: .3%;
}

.index-item-image {
  height: 100%;
  object-fit: scale-down;
  z-index: -1;
}

.photo-index-item-info {
  position: absolute;
  z-index: 3;
  color: white;
  bottom: -2%;
  opacity: 0;
}

.photo-index-item-box:hover .photo-index-item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 1%;
  width: 90%;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  bottom: 2%;
  opacity: 1;
}

.photo-index-item-box:hover {
  cursor: pointer;
}


.photo-index-item-box:hover #bot-grad {
  -webkit-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -ms-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  opacity: 1;
}


.heart-icon {
  fill: transparent;
  stroke: grey;
  stroke-width: 2px;
  width: 24px;
  height: 24px;

}

.heart-icon:hover {
  fill: #ffffffA8;
  cursor: pointer;
}

.fill-heart {
  fill:#ffffff;
}
