.login-form-container {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    width: 350px;
    background: white;
    height: 400px;
    left: 35%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 239, 242)
}

.login-form-box {
    margin: 30px;
}

.login-input {
    height: 30px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(215, 216, 219);
    width: 300px;
    margin-bottom: 20px;
}

.session-submit {
    background-color: rgb(8, 112, 209);
    border: none;
    color: white;
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
}